-
  function getRandomArbitrary(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }

.p-slider-wrapper
  .bxslider
    div: a(href="#{'./inner-' + getRandomArbitrary(1,3) + '.html'}"): img(src="https://unsplash.it/970/250")
    div: a(href="#{'./inner-' + getRandomArbitrary(1,3) + '.html'}"): img(src="https://unsplash.it/970/250")
    div: a(href="#{'./inner-' + getRandomArbitrary(1,3) + '.html'}"): img(src="https://unsplash.it/970/250")
    div: a(href="#{'./inner-' + getRandomArbitrary(1,3) + '.html'}"): img(src="https://unsplash.it/970/250")
    div: a(href="#{'./inner-' + getRandomArbitrary(1,3) + '.html'}"): img(src="https://unsplash.it/970/250")